:root {
  --brand-color: #434455;
  --text-font-family: "Roboto", sans-serif;
  --header-font-family: "Raleway", sans-serif;
  --brand-color: #4d5ae5;
  --brand-color: #404bbf;
  --brand-color: #2e2f44;
  --brand-color: #31d0aa;
  --brand-color: #8e8f99;
  --brand-color: #f7e9fc;
  --brand-color: #f4f4fd;
  --brand-color: #2e2f42;
  --brand-color: white;
  --brand-color: #fcfcfc;
}

body {
  font-family: var(--text-font-family);
  background-color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #434455;
}

.logo-studio {
  color: #2e2f42;
}

.logo {
  font-family: var(--header-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.link {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.list-a {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.list-address {
  color: #434455;
  letter-spacing: 0.02em;
  columns: #434455;
}

a:hover {
  background-color: #8e8f99;
  color: white;
}

a:focus {
  background-color: #8e8f99;
  color: white;
}

.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-div-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0.15px;
  justify-content: space-between;
}

.container {
  padding: 0.15px;
}

.navigation-bar {
  display: flex;
  align-items: center;
}

.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-section-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.section-two {
  padding: 120px 0;
}

.section-two-li {
  flex-basis: calc((100% - 72px)/4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;

}

.main-section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: calc((100% - 3 * 24px) / 4);
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.main-section-two-pone {
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-three {
  padding-bottom: 120px;
}

.main-section-three-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-section-three {
  display: flex;
  gap: 24px;
}

.image-section {
  width: calc((100% - 48px)/3);
  display: block;
}

.main-section-four {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.main-section-four-li {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.main-section-four-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.name-job-container {
  padding: 32px 0;
}

.list-section-four {
  display: flex;
  gap: 24px;
}

.btn {
  text-align: center;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;

}

.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.btn:hover {
  color: white;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.main-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.main-btn:focus {
  background-color: #404bbf;
}
/* dslkfjsldkjflskdjflksdjf */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.logo link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraf {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section{
  padding-top: 96px;
  padding-bottom: 120px;

}

.list-button{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;

}

.prtlist{
  width: calc((100% - 48px)/3);
}

.portfolio-container{
  padding: 32px 16px;
  border: 1px solid#e7e9fc;
  border-top: none;
}